// Fixing footer to bottom of page


.site-footer {
  background-color: #111;
}

.instagram,
.facebook {
  display: inline-block;
  float: left;
  width: 32px;
  height: 32px;
  padding: 0;
  margin: 4px;
  a {
    position: absolute;
    width: 32px;
    height: 32px;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
