.canvas,
.paper {
  img {
    opacity: 0;
    transition: opacity 0.5s;
    &:hover {
      cursor: pointer;
    }
  }
}


// Loading overlay

.gallery {
  overflow: hidden;
  max-width: 740px;
}


// Single image overlay

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  display: none;
  text-align: center;
  transition: all 0.5 ease-in;

}

// Styles for art and text

.art-all {
  height: 100vh;
  width: 100vw;
  img {
    height: 60%;
    max-width: 90%;
    padding-top: 2%;
  }
  .art-text {
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 22%;
    margin-top: 2%;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(0, 0, 0, 0.4);;
    .art-title {
      text-align: center;
      color: #eee;
      margin-top: 10px;
    }
    .art-size {
      color: #eee;
    }
    .art-type {
      color: #eee;
    }
    .art-description {
      text-align: center;
      color: #eee;
      margin-top: 10px;
    }
  }
}





.post-title {
  color: #eee;
}
